{% extends 'nav_admin.html.twig' %}


{% block body %}
<div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
        <div class="col-lg-8">
    {{ include('reservation_vol_admin/_form.html.twig') }}

    <a href="{{ path('app_reservation_vol_admin_index') }}" class="btn btn-secondary">back to list</a>


</div>
</div>
</div> 
{% endblock %}
