{% extends 'nav_admin.html.twig' %}

{% block body %}
    <h1>Edit Hotel</h1>

    {{ include('hotel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_hotel_index') }}">back to list</a>

    {{ include('hotel/_delete_form.html.twig') }}
{% endblock %}
