 
{% extends 'nav_admin.html.twig' %}


{% block body %}
     

<div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
        <div class="col-lg-8">
            {{ include('airport/_form.html.twig') }}
            {{ include('@MercurySeriesFlashy/flashy.html.twig') }}

            <a href="{{ path('app_airport_index') }}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div> 


{% endblock %}
