<!DOCTYPE html>
<html>
<head>
    <title>Edit ReservationHotel</title>
</head>
<body>
    <section class="probootstrap-cover overflow-hidden relative" style="background-image: url('{{ asset('assets/added_image/bg_1.jpg') }}');" data-stellar-background-ratio="0.5" id="section-home">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center probootstrap-animate">
                    <h1 class="heading mb50">Update Reservation</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        {{ include('reservation_hotel/_form.html.twig', {'button_label': 'Update'}) }}

                        <a href="{{ path('app_reservation_hotel_index') }}" class="btn btn-secondary mt-3">Back to Reservations</a>

                        {{ include('reservation_hotel/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
