{% extends 'nav_user.html.twig' %}



{% block body %}
<div class="container-fluid">
    <!-- Row 1 -->
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="form-container">
                <h1 class="form-title">Create New Reservation</h1>

                {{ include('reservation_hotel/_form.html.twig') }}

                <a class="form-back-link" href="{{ path('app_reservation_hotel_index') }}">Back to List</a>
                <button type="submit" class="form-submit-button">Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
