



{% block body %}
{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}

                                <div class="col-12">
                                    <label for="email" class="form-label">Your Email</label>
                                    {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                                    <div >Please enter a valid Email adddress!</div>
                                </div>

                                <div class="col-12">
                                    <button  type="submit">Send</button>
                                </div>

                                {{ form_end(form) }}
{% endblock %}