

{% block body %}
    <section class="container my-3">
        <div class="row">
            <div class="col">
                <h1>Reset Password</h1>
                {{ form(form) }}
            </div>
        </div>
    </section>
{% endblock %}
