{% extends 'nav_admin.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets_admin/css/styles.min.css') }}" />
    <style>
        .container-fluid {
            margin-top: 64px;
        }

        .form-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        .form-title {
            margin-top: 0;
            margin-bottom: 20px;
            font-size: 24px;
            text-align: center;
        }

        .form-back-link,
        .form-delete-button {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            color: #fff;
            transition: background-color 0.3s;
        }

        .form-back-link {
            background-color: #007bff;
        }

        .form-back-link:hover {
            background-color: #0056b3;
        }

        .form-delete-button {
            background-color: #dc3545;
        }

        .form-delete-button:hover {
            background-color: #c82333;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Edit Chambre</h1>

        <div class="form-container">
            <h1 class="form-title">Edit Chambre</h1>

            {{ include('chambre/_form.html.twig', {'button_label': 'Update'}) }}

    

<a class="form-back-link" href="{{ path('app_chambre_index', {'id': chambre.hotel.id}) }}">Back to List</a>

        </div>

        {{ include('chambre/_delete_form.html.twig') }}
    </div>
{% endblock %}
