{% extends 'nav_admin.html.twig' %}


{% block body %}
<div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
        <div class="col-lg-8">
    {{ include('volclass/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_volclass_index') }}"  class="btn btn-outline-secondary">back to list</a>

    {{ include('volclass/_delete_form.html.twig') }}


</div>
</div>
</div> 
{% endblock %}
