{% extends 'nav_admin.html.twig' %}


{% block body %}
<div class="container-fluid">
    <section class="probootstrap-cover overflow-hidden relative" style="background-color: white"  >
    <div class="overlay"></div>
  <div class="container">
  <div class="row align-items-center">
        <div class="col-md probootstrap-animate">
            <h1>Create new Trip</h1></div>
  


    {{ include('voyage/_form.html.twig') }}

    <a href="{{ path('app_voyage_index') }}">back to list</a>
{% endblock %}
