{% extends 'nav_user.html.twig' %}
{% block body %}
<section class="probootstrap_section bg-light">

<div class="container">
<div class="row text-center mb-5 probootstrap-animate">
<div class="col-md-12">
<h2 class="display-4 border-bottom probootstrap-section-heading">PROGRAM</h2>
</div>
</div>

{% for p in programme %}

<div class="row probootstrap-animate">
<div class="col-md-12">
  <div class="owl-carousel js-owl-carousel">
    <a class="probootstrap-slide" >{{p.description }}</a>
  </div>
  
  <div class="program-details">
    <strong> FROM </strong> {{ p.datedebut|date('Y-m-d') }} <strong> TO </strong> {{p.datefin|date('Y-m-d')}}
  </div>
</div>

<div class="row probootstrap-animate">
<div class="text-center">
  <div class="program-details">
   <strong>prix:</strong> {{p.prix }}
</div></div></div>




</div>
</div>
</section>












 {% endfor %}


{% endblock %}